.fix-top{
    position: fixed;
    width: 100vw;
    height: 2px;
}

.progress-container {
    width: 100vw;
    height: 8px;
    background: #ccc;
    position: absolute;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
  }